<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    img {
      width: 100%;
      height: 100%;
    }
  </style>
  <body>
    <img src="https://www.google.com.br/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwj42NntybrQAhWDD5AKHeYAAugQjRwIBw&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F347903139944209134%2F&bvm=bv.139250283,d.Y2I&psig=AFQjCNEJ4khgRIbScc6Ra_wNc5mCrxltjQ&ust=1479842599198045" alt="" />
  </body>
</html>
